body {
    background-image: url("resources/game/intro.png");
    background-repeat: no-repeat;
    background-size: 180vh;
    background-position-x: 2vw;
}

.selectable {
    cursor: cell;
    border: 3px solid white;
    height: 10vh;
    width: 5vw;
}

#info {
    opacity: 100%;
    margin: 0px;
    display: flex;
    justify-self: flex-end;
    height: 2vh;
}

a {
    display: flex;
    justify-self: center;
}

.counter {
    display: flex;
    flex-direction: row;
}