body {
    border: 3px solid black;
    height: 97vh;
    background-image: url("resources/index/basement.png");
    background-repeat: no-repeat;
    background-color: black;
    background-size: 150vh;
    background-position-x: 9vw;
    margin: 0px;
}

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.selectable {
    cursor: cell;
}

p {
    color: white;
    font-family: "Jersey 10", sans-serif;
    font-size: 5vh;
}

.counter {
    display: flex;
    flex-direction: row;
}