body {
    height: 97vh;
    background-repeat: no-repeat;
    background-color: black;
    margin: 0px;
}

.selectable {
    cursor: cell;
    border: 3px solid white;
    height: 10vh;
    width: 5vw;
}

#info {
    opacity: 100%;
    margin: 0px;
    display: flex;
    justify-self: flex-end;
    height: 2vh;
}

a {
    display: flex;
    justify-self: center;
}

.counter {
    display: flex;
    flex-direction: row;
}