body {
    height: 97vh;
    background-color: black;
    margin: 0px;
}

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p, a {
    color: white;
    font-family: "Jersey 10", sans-serif;
    font-size: 5vh;
    text-align: center;
}

a {
    cursor: cell;
}

.hidden {
    opacity: 0;
}