body {
    background-image: url("../../resources/game/forestempty.png");
    background-repeat: no-repeat;
    background-size: 180vh;
    background-position-x: 2vw;
}

.selectable {
    cursor: cell;
    height: 25vh;
    width: 15vw;
}

#forward {
    position: fixed;
    top: 40vh;
    left: 43vw;
}