body {
    background-image: url("../../resources/game/forestshack.png");
    background-repeat: no-repeat;
    background-size: 180vh;
    background-position-x: 2vw;
}

.selectable {
    cursor: cell;
    height: 25vh;
    border: 3px solid white;
    width: 15vw;
}

#forward {
    position: fixed;
    top: 40vh;
    width: 5vw;
    left: 48vw;
}

#shack {
    position: fixed;
    top: 44vh;
    width: 10vw;
    left: 55vw;
}