body {
    height: 97vh;
    background-image: url("resources/index/backgroundtest.png");
    background-repeat: no-repeat;
    background-color: black;
    background-size: 178vh;
    margin: 0px;
}

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.selectable {
    cursor: cell;
    border: 3px solid white;
    height: 10vh;
    width: 5vw;
}

p {
    color: white;
    font-family: "Jersey 10", sans-serif;
    font-size: 5vh;
}

.counter {
    display: flex;
    flex-direction: row;
}